@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

html {
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    background-color: aquamarine;
}

body {
    border: 2px solid black;
    width: 1000px;
    margin: 0 auto;
    background-color: salmon;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkmagenta;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.282);
}

@media screen and (max-width: 821px) and (max-height: 1181px) {
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 52px;
    }
    body {
        border: 3.5px solid black;
        width: 600px;
    }

    img {
        height: 70% !important;
        width: 70% !important;
    }

    @media screen and (max-width: 376px) and (max-height: 668px) {
        html {
            font-size: 12px;
        }
        h1 {
            font-size: 35px;
        }
        body {
            border: 3px solid black;
            width: 300px;
        }
    }
}

@media (orientation:landscape) and (max-height: 821px) {
    html {
        font-size: 15px;
    }
    h1 {
        font-size: 54px;
    }
    body {
        border: 2px solid black;
        width: 900px;
    }

    @media screen and (max-height: 376px) {
        html {
            font-size: 14px;
        }
        body {
            border: 3px solid black;
            width: 600px;
        }
    }
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 50%;
    width: 50%;
}

figure {
    text-align: center;
}

#heading {
    color: blue;
}
.popular {
    border: 4px dotted red;
}